[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = "*"
databases = {extras = ["postgresql"], version = "*"}
asyncpg = "*"
aiosqlite = "*"

[dev-packages]

[requires]
python_version = "3.9"
